@import url(/Manhattan.css);

.image-popup span{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 100px;
    font-weight: bold;
    z-index: 10000;
    color: #fff;
    cursor: pointer;
}

.image-popup{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .9);
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.image-popup.active{
    display: block;
}

.image-popup img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 806px;
    height: 850px;
    object-fit: cover;
}

.gallery{
    width: 100%;
    height: calc(100vh-150px);
    background-color: var(--primary-color);
}

.gallery__inner{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.gallery-box{
    position: relative;
    height: 100%;
}

.magni-glass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    aspect-ratio: 1/1;
    width: 60px;
    opacity: 0;
    transition: .2s;
    transition-delay: 50ms;
    cursor: pointer;
}

.gallery-box__img{
    width: 100%;
    height: 100%;
}

.gallery-box::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 99;
    transition: .2s;
}

.gallery-box:hover .magni-glass{
    opacity: 1;
}

.gallery-box:hover::after{
    opacity: 1;
}

